@import "vars";

html {
    scroll-behavior: smooth;
    color-scheme: light dark;
    font-family: "MSPA Sans", sans;
    background-color: $background-color;
}

body {
    margin: 0;
    padding-left: 200px;
}

nav {
    left: 0;
    width: 200px;
    height: 100vh;
    position: fixed;
    box-shadow: $nav-shadow;
    background-color: $alt-background-color;
}

#header {
    padding: 10px 0;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    background-color: $accent-color;

    label {
        display: none;
    }
}

nav > ul {
    padding-left: 1em;

    ul {
        padding-left: 1.25em;
    }

    li {
        list-style: none !important;
    }

    > li {
        &:has(> a.active)::before {
            content: "➜";
        }

        li::before {
            content: "•";
        }

        li:has(> a.active)::before {
            content: "➜";
        }
    }

    a {
        color: $font-color;
        text-decoration: none;

        &:not(.active):hover {
            color: $accent-color;
        }

        &.active {
            cursor: not-allowed;
        }
    }
}

#loader.active {
    height: 2px;
    position: fixed;
    background-color: $accent-color;
    animation: loader 0.8s forwards;

    @keyframes loader {
        0% {
            width: 0;
        }
        99% {
            width: 100%;
        }
        100% {
            opacity: 0;
        }
    }
}

#content {
    max-width: 800px;
    text-align: justify;
    margin: 0 auto;
    padding: 20px 20px 40px 20px;

    h2.anchor {
        cursor: pointer;

        &:hover::before {
            content: "#";
            color: #aaa;
            position: absolute;
            margin-left: -20px;
            padding-right: 20px;
        }
    }

    p {
        margin-bottom: $inner-margin;
    }

    img,
    pre,
    code,
    blockquote,
    table:not(.highlighttable) {
        border-radius: $border-radius;
    }

    img {
        height: auto;
        display: block;
        max-width: 100%;
        margin: $inner-margin auto;
    }

    pre,
    > ul,
    > ol {
        margin-top: 0;
    }

    li pre {
        margin: $inner-margin 0;
    }

    pre,
    code {
        font-family: "MSPA Mono";
        background-color: $alt-background-color;
    }

    pre {
        padding: 6px;
        overflow: scroll;
    }

    table:not(.highlighttable) {
        width: 100%;
        overflow: hidden;
        border-spacing: 0;
        border-collapse: separate;
        border: 1px solid $table-border-color;

        th {
            background-color: $accent-color;
        }

        tr:nth-child(even) {
            background-color: $alt-background-color;
        }

        td,
        th {
            padding: 10px;
            text-align: left;
        }
    }

    blockquote {
        width: calc(100% - 35px);
        margin-left: 0;
        padding: 10px 15px;
        border-left: 5px solid;
        background-color: $alt-background-color;

        p {
            margin: 0;
        }

        &::before {
            display: block;
            height: 30px;
            margin: 0 0 -5px 0;
            font-weight: bold;
        }

        @mixin quote-variant($name, $props) {
            &.quote-#{$name} {
                border-color: map-get($props, color);

                &::before {
                    content: "#{map-get($props, icon)} #{map-get($props, label)} ";
                    color: map-get($props, color);
                }
            }
        }

        @each $name, $props in $quote-variants {
            @include quote-variant($name, $props);
        }
    }
}

.highlight {
    .hll {
        background-color: $highlight-color;
    }
    .c {
        color: $comment-color;
    } /* Comment */
    .err {
        color: $content-color;
    } /* Error */
    .g {
        color: $content-color;
    } /* Generic */
    .k {
        color: $keyword-color;
    } /* Keyword */
    .l {
        color: $content-color;
    } /* Literal */
    .n {
        color: $content-color;
    } /* Name */
    .o {
        color: $content-color;
    } /* Operator */
    .x {
        color: $content-color;
    } /* Other */
    .p {
        color: $content-color;
    } /* Punctuation */
    .cm {
        color: $comment-color;
    } /* Comment.Multiline */
    .cp {
        color: $header-color;
    } /* Comment.Preproc */
    .c1 {
        color: $comment-color;
    } /* Comment.Single */
    .cs {
        color: $comment-color;
    } /* Comment.Special */
    .gd {
        color: #0000c0;
        font-weight: bold;
        background-color: #008080;
    } /* Generic.Deleted */
    .ge {
        color: #c000c0;
        text-decoration: underline;
    } /* Generic.Emph */
    .gr {
        color: #c0c0c0;
        font-weight: bold;
        background-color: #c00000;
    } /* Generic.Error */
    .gh {
        color: $header-color;
    } /* Generic.Heading */
    .gi {
        color: $content-color;
        background-color: #0000c0;
    } /* Generic.Inserted */
    span.go {
        color: #add8e6;
        font-weight: bold;
        background-color: #4d4d4d;
    } /* Generic.Output */
    .gp {
        color: $content-color;
    } /* Generic.Prompt */
    .gs {
        color: $content-color;
    } /* Generic.Strong */
    .gu {
        color: $header-color;
    } /* Generic.Subheading */
    .gt {
        color: #c0c0c0;
        font-weight: bold;
        background-color: #c00000;
    } /* Generic.Traceback */
    .kc {
        color: $keyword-color;
    } /* Keyword.Constant */
    .kd {
        color: $keyword-color;
    } /* Keyword.Declaration */
    .kn {
        color: $keyword-color;
    } /* Keyword.Namespace */
    .kp {
        color: $keyword-color;
    } /* Keyword.Pseudo */
    .kr {
        color: $keyword-color;
    } /* Keyword.Reserved */
    .kt {
        color: $keyword-type-color;
    } /* Keyword.Type */
    .ld {
        color: $content-color;
    } /* Literal.Date */
    .m {
        color: $string-color;
    } /* Literal.Number */
    .s {
        color: $string-color;
    } /* Literal.String */
    .na {
        color: $name-attr-color;
    } /* Name.Attribute */
    .nb {
        color: $keyword-color;
    } /* Name.Builtin */
    .nc {
        color: $content-color;
    } /* Name.Class */
    .no {
        color: #ffa0a0;
    } /* Name.Constant */
    .nd {
        color: $content-color;
    } /* Name.Decorator */
    .ni {
        color: #b89a6d;
    } /* Name.Entity */
    .ne {
        color: $content-color;
    } /* Name.Exception */
    .nf {
        color: $content-color;
    } /* Name.Function */
    .nl {
        color: $content-color;
    } /* Name.Label */
    .nn {
        color: $content-color;
    } /* Name.Namespace */
    .nx {
        color: $content-color;
    } /* Name.Other */
    .py {
        color: $content-color;
    } /* Name.Property */
    .nt {
        color: $keyword-color;
    } /* Name.Tag */
    .nv {
        color: $variable-color;
    } /* Name.Variable */
    .ow {
        color: $content-color;
    } /* Operator.Word */
    .w {
        color: $content-color;
    } /* Text.Whitespace */
    .mf {
        color: $content-color;
    } /* Literal.Number.Float */
    .mh {
        color: $content-color;
    } /* Literal.Number.Hex */
    .mi {
        color: $content-color;
    } /* Literal.Number.Integer */
    .mo {
        color: $content-color;
    } /* Literal.Number.Oct */
    .sb {
        color: $string-color;
    } /* Literal.String.Backtick */
    .sc {
        color: $string-color;
    } /* Literal.String.Char */
    .sd {
        color: $string-color;
    } /* Literal.String.Doc */
    .s2 {
        color: $string-color;
    } /* Literal.String.Double */
    .se {
        color: $string-color;
    } /* Literal.String.Escape */
    .sh {
        color: $string-color;
    } /* Literal.String.Heredoc */
    .si {
        color: $string-color;
    } /* Literal.String.Interpol */
    .sx {
        color: $string-color;
    } /* Literal.String.Other */
    .sr {
        color: $string-color;
    } /* Literal.String.Regex */
    .s1 {
        color: $string-color;
    } /* Literal.String.Single */
    .ss {
        color: $string-color;
    } /* Literal.String.Symbol */
    .bp {
        color: $content-color;
    } /* Name.Builtin.Pseudo */
    .vc {
        color: $variable-color;
    } /* Name.Variable.Class */
    .vg {
        color: $variable-color;
    } /* Name.Variable.Global */
    .vi {
        color: $variable-color;
    } /* Name.Variable.Instance */
    .il {
        color: $content-color;
    } /* Literal.Number.Integer.Long */
    .language-bash & .nb {
        color: $bash-cmd-color;
    }
}
