<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />

        <title>{{ meta.project_name }} - {{ meta.name }}</title>
        <meta name="description" content="{{ meta.description }}" />
        <link rel="stylesheet" href="{{ base_url }}/assets/style.css" />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.css"
            integrity="sha384-WcoG4HRXMzYzfCgiyfrySxx90XSl2rxY5mnVY5TwtWE6KLrArNKn0T/mOgNL0Mmi"
            crossorigin="anonymous"
        />

        <script
            defer
            src="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.js"
            integrity="sha384-J+9dG2KMoiR9hqcFao0IBLwxt6zpcyN68IgwzsCSkbreXUjmNVRhPFTssqdSGjwQ"
            crossorigin="anonymous"
        ></script>

        <script
            defer
            src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/highlight.min.js"
        ></script>

        <script defer src="{{ base_url }}/assets/mspa.js"></script>
    </head>
    <body>
        <nav>
            <div id="header">
                <span id="home">{{ meta.project_name }}</span>
                <label for="show_nav" id="show_nav_label" tabindex="0">
                    <input type="checkbox" id="show_nav" />
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        width="100"
                        height="100"
                        viewBox="0 0 50 50"
                    >
                        <path
                            d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z"
                        ></path>
                    </svg>
                </label>
            </div>

            {{ nav }}
        </nav>

        <div id="content">
            <h1>{{ meta.name }}</h1>

            {{ page_content }}
        </div>

        {% if in_livereload %}
        <script>
            const ws = new WebSocket("ws://localhost:3030/ws");

            ws.addEventListener("message", (event) => {
                if (event.data === "reload") location.reload();
                else console.warn("Ignoring ws message:", event.data);
            });
        </script>
        {% endif %}
    </body>
</html>
